.project {
	&__progression {
		width: 94%;
		margin-bottom: 3em;

		@media #{md('m')} {
			margin-bottom: 6em;
			width: 85%;
		}

		&-imgs {
			height: 160px;
			width: 100%;
			display: block;
			margin-top: 30px;

			@media #{md('s')} {
				height: 360px;
			}
			@media #{md('m')} {
				height: 560px;
				margin-top: 50px;
			}

			&.js-reveal {
				transform: translate3d(-100%, 0, 0);
				overflow: hidden;
				transition: all 0.7s $in-out-circ;
				
				&.is-visible{
					transform: translate3d(0, 0, 0);
				}
			}
		}

		&-img {
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;
			height: 100%;

			.inner {
				display: block;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				z-index: z('default', 5);
				transition: opacity 0.7s $in-out-quad, transform 0.7s $in-out-quad;
				background-position: center right;
				opacity: 0;
				transform: translate3d(-5%, 0, 0);
			}

			.js-reveal & {
				transform: translate3d(100%, 0, 0);
				transition: all 0.7s $in-out-circ;
			}
				
			.is-visible & {
				transform: translate3d(0, 0, 0);
			}


			&.active {
				.inner {
					opacity: 1;
					z-index: z('default', 10);
					transform: translate3d(0, 0, 0);
					transition-delay: 0.4s, 0s;
				}
			}
		}

		&-label {
			@include reset-ul; 
			display: table;
			width: 100%;
			text-align: center;
			counter-reset: progression;

			@media #{md('s')} {
				table-layout: fixed;
			}

			&.js-reveal {
				&.is-visible {
					li {

						&:hover {
							&.active {
								span {
									&:after {
										transform: translate3d(0, 0, 0);
									}
								}
							}
						}
						&.active {
							color: #FFF;

							&:before {
								transform: scale3d(1, 1, 1);
							}

							&:after {
								transform: scale3d(1, 1, 1);
							}

							span {
								&:after {
									content:'';
									transform: translate3d(0, 100%, 0);
									transition: all 0.4s $in-out-circ;
									position: absolute;
									bottom: 0;
									left: 50%;
									margin-left: -3px;
									@include triangle-up(12px, 6px, #FFF);
								}
							}

							&.current {

								&:before,
								&:after {
									transition-timing-function: $out-quad;
								}

								i {
									transform: scale3d(1, 1, 1);

									&:before,
									&:after {
										transform: scale3d(1, 1, 1);
									}
								}
							}

							@for $i from 0 through 10 {
								&:nth-child(#{$i + 1}) {
									transition-delay: #{$i * 0.3s + 0.3s};

									&:before {
										transition-delay: #{$i * 0.3s + 0.15s};
									}
									&:after {
										transition-delay: #{$i * 0.3s + 0.25s};
									}

									i {
										transition-delay: #{$i * 0.3s + 0.45s};

										&:afer,
										&:before {
											transition-delay: #{$i * 0.3s + 0.5s};
										}
									}
								}
							}
						}
					}
				}
			}

			li {
				display: table-cell;
				line-height: 3rem;
				font-size: 0.75em;
				font-weight: 600;
				text-transform: uppercase;
				color: rgba($grey-dark, 0.45);
				counter-increment: progression;
				cursor: pointer;
				width:7%;
				transition: all 0.3s ease;

				@media #{md('s')} {
					width: 100%;
					line-height: 5rem;
				}

				&:before {
					content:'';
					transform-origin: left center;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background: #000;
					transform: scale3d(0, 1, 1);
					transition: all 0.3s linear;					
				}

				&:after {
					content:'';
					position: absolute;
					top: 0px;
					height: 1px;
					background: #FFF;
					left: -50%;
					width: 100%;
					transform-origin: left center;
					transform: scale3d(0, 1, 1);
					transition: all 0.3s linear;
				}

				&.current {
					width: 20%;

					@media #{md('s')} {
						width: 100%;
					}

					span {
						font-size: 1em;
					}
				}

				span {
					display: inline-block;
					vertical-align: middle;
					font-size: 0;

					@media #{md('s')} {
						font-size: 1em;
					}

					&:before {
						content: counter(progression);
						display: inline-block;
						margin-right: 5px;
						font-size: 0.75rem;
						top: -1px;
					}
				}

				i {
					position: absolute;
					top: 0;
					left: 50%;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					margin-left: -3px;
					margin-top: -3px;
					background: #FFF;
					transition: all 0.6s $out-back;
					transform: scale3d(0, 0, 1);

					&:after,
					&:before {
						content:'';
						position: absolute;
						top: 50%;
						left: 50%;
						border:1px solid #FFF;
						width: 26px;
						height: 26px;
						margin-top: -13px;
						margin-left: -13px;
						border-radius: 50%;
						transition: all 0.6s $out-back;
						transform: scale3d(0, 0, 1);
					}

					&:before {
						width: 16px;
						height: 16px;
						margin-top: -8px;
						margin-left: -8px;
					}
				}
			}
		}
	}


	&__gallery {
		margin-top: 30px;
		margin-bottom: 60px;

		@media #{md('m')} {
			margin-top: 80px;
			margin-bottom: 60px;
		}

		.trigger-gallery {

			@media #{md('m')} {
				margin-top: -8em;
			}
		}
	}

	&__team {

		&-slider {
			padding-bottom: 25px;
			margin-bottom: 20px;

			@media #{md('s')} {
				padding-bottom: 55px;
				margin-bottom: 40px;
			}

			.slick-list {
				overflow: initial;

				@media #{md('s')} {
					overflow: hidden;
				}
			}

			.slider-arrow {
				position: absolute;
				cursor: pointer;
				bottom: 0;
				left: 50%;
				display: none !important;
				margin-left: -10px;
				transform: translate3d(-100%, 0, 0);
				transition: all 0.3s ease;

				@media #{md('s')} {
					display: block !important;
				}

				&.slick-disabled {
					opacity: 0.2;
				}

				&.arrow-next {
					margin-left: 10px;
					transform: none;
				}
			}
		}


		&-item {
			&.js-reveal {
				.project__team {
					&-img {
						transform: translate3d(-100%, 0, 0);
						overflow: hidden;
						transition: all 0.7s $in-out-circ;

						a {
							transform: translate3d(100%, 0, 0);
							transition: all 0.7s $in-out-circ;
						}
					}

					&-firstname,
					&-lastname {
						overflow: hidden;
						
						span {
							transform: translate3d(0, 100%, 0);
							transition: all 0.4s $in-out-quad;
						}
					}

					&-function {
						opacity: 0;
						transition: all 0.4s $in-out-quad;
						transform: translate3d(0, 15px, 0);
					}
				}

				&.is-visible {
					.project__team {
						&-img {
							transform: translate3d(0, 0, 0);

							a {
								transform: translate3d(0, 0, 0);
							}
						}

						&-firstname,
						&-lastname {							
							span {
								transform: translate3d(0, 0, 0);
							}
						}

						&-function {
							transform: translate3d(0, 0, 0);
							opacity: 0.5;
						}
					}

					@for $i from 0 through 4 {
						&:nth-child(#{$i + 1}) {

							.project__team {
								&-img {
									a,
									& {
										transition-delay: #{$i * 0.1s};
									}
								}

								&-firstname {							
									span {
										transition-delay: #{$i * 0.1s + 0.2s};
									}
								}
								&-lastname {
									span {
										transition-delay: #{$i * 0.1s + 0.25s};
									}
								}

								&-function {
									transition-delay: #{$i * 0.1s + 0.4s};
								}
							}
						}
					}
				}
			}
		}

		&-img {
			display: block;
			width: 100%;
			margin-bottom: 0.55em; 

			&:hover {
				a {
					figure {
						transform: scale3d(0.96, 0.96, 1);

						img {
							transform: scale3d(1.11, 1.11, 1);
						}
					}
				}
			}

			a {
				display: block;
				width: 100%;

				figure {
					display: block;
					overflow: hidden;
					transition: all 0.6s $out-expo;
					width: 100%;
				}

				img {
					width: 100%;
					display: block;
					transition: all 0.6s $out-expo;
				}
			}
		}

		&-info {
			padding: 8px 18px;

			h3 {
				margin: 0;
				margin-bottom: 0.3em;
				line-height: 1.2;
			}
		}

		&-firstname,
		&-lastname{
			display: block;
			font-size: 0.875rem;
			font-weight: 700;
			
			span {
				display: inline-block;
				vertical-align: middle;
				
			}
		}

		&-function {
			font-size: 0.75em;
			opacity: 0.5;
		}
	}

	&__publications {
		margin-bottom: 40px;

		@media #{md('s')} {
			margin-bottom: 80px;
		}
	}

	&__localisation {
		margin-top: 30px;
		margin-bottom: 50px;

		@media #{md('m')} {
			margin-top: 60px;
			margin-bottom: 0;
		}

		&-address {
			font-size: 0.875em;
			font-weight: 600;
			line-height: 1.15em;
			white-space: nowrap;

			@media #{md('s')} {
				position: absolute;
				transform-origin: bottom left;
				bottom:20px;
				transform: rotate(-90deg);
				margin-left: -20px;
			}

			span {
				display: block;
				font-size: 0.75rem;
				opacity: 0.5;
			}

			p {
				@media #{md('s')} {
					margin-bottom: 0;
				}
			}

			&.js-reveal {
				opacity: 0;
				transform: translate3d(0, 30px, 0);
				transition: all 0.8s $in-out-quad 0.3s;

				@media #{md('s')} {
					transform: translate3d(0, 30px, 0) rotate(-90deg);
				}

				&.is-visible {
					opacity: 1;
					transform: translate3d(0, 0, 0);

					@media #{md('s')} {
						transform: translate3d(0, 0, 0) rotate(-90deg);
					}
				}
			}
		}
		&-map {
			width: 130%;
			overflow: hidden;
			height: 200px;
			margin-bottom: 20px;

			@media #{md('s')} {
				height: 400px;
				margin-top: -8em;
			}
			
			&.js-reveal {
				transform: translate3d(140px, 0, 0);
				opacity: 0;
				transition: all 0.7s $in-out-quad;

				&.is-visible {
					opacity: 1;
					transform: translate3d(0, 0, 0);
				}
			}

			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -100%, 0);
				pointer-events: none;
			}

			a,
			img{
				display: block;
				width: 100%;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate3d(0, -50%, 0);
			}

			a {
				transition: all 0.4s ease;

				img {
					top: auto;
					position: relative;
					transform: none;
				}

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}